DB=postgres
DB_HOST=host.docker.internal
DB_NAME=healthchecks_db
DB_PORT=5432
DB_USER=bhupesh
DB_PASSWORD=bhupesh
DEBUG=False
DEFAULT_FROM_EMAIL=hello@demomailtrap.com
EMAIL_HOST=live.smtp.mailtrap.io
EMAIL_PORT=587
EMAIL_HOST_USER=api
EMAIL_HOST_PASSWORD=4aa411a19663f9bc3280bfe71bd0681a
SITE_ROOT=http://localhost:8000
ALLOWED_HOSTS=*
SITE_LOGO_URL=https://onemg.gumlet.io/staging/69b44bc6-463a-4098-b904-b045fee69f43.svg
SECRET_KEY=sRj9nJKNbM8tbEg3E7QwNfi_kVrdscLmAabW8TSOZvV7zEgBtCXj
SECURE_PROXY_SSL_HEADER=HTTP_X_FORWARDED_PROTO,https